@charset "utf-8";
p{
	font-family: 'Potta One', cursive;
	color: #46958C;
	font-style: italic;	
	
}
.mycontainer{
	margin-left: 40px;
	margin-right: 40px; 
}

#background{background-image: url("../image/wolkk.jfif");
	background-size: 100%;

}

.header1{
	color:#D78C5A; 
}
body{
	margin: 0; 
	background-color: #407679;  
}

.myheader{
	width: 100%;
	height: 300px;
	background-color: #D07C44; 
; 	background-image: url(../image/43f771d4c324448eedd9801dceb64118.jpg);
}

.footer{background-color: aqua;}

#skyline{
	color: #E87048; 
	font-style: oblique;
	
} 

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

.body {
	background-image: url("../download.jpg");
	
} 

.title {
	text-align: center;
	
}

.text-title {
	color: #CBA1CA;
	text-align: center;
	
}

.card-footer {
	color: #FFFFFF;
	
}
.container {
	
	
	color:#FC7700; 
}
.card-footer {position: absolute}


